{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-2">
            <div class="card-header">
                {{ post.title }}
            </div>
            <div class="card-body">
                <div class="card-title d-flex">
                    <h5 class="text-left">{{ post.author }}</h5>
                    <p class="ml-auto">{{ post.date_posted | date:"F d, Y" }}</p>
                </div>
                <p class="card-text">{{ post.content }}</p>
                <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read more ...</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
