{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-header">
            User Registration
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="col pt-md-2 mx-0">
                        <h6>Already have an account? <a href="#" class="text-decoration-none">Sign In</a></h6>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
